<% provide(:title, "Log in") %>
<!--<h1>Login</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">-->
    <h1>LOGIN</h1>
    <center>
        <%= form_for :session, url: login_path do |f| %>
    
        <%= f.label :username %>
        <%= f.text_field :username %>
    
        <%= f.label :password %>
        <%= f.password_field :password %>
        <p>
        <%= f.submit 'Log In', class: "btn btn-primary" %>
        </p>
         </center>
        <% end %>
       
        <!--
        <br>
    </div>
</div>
-->