<% provide(:title, @qr.location) %>
Property: <%= Property.find(@qr.property_id).name %>
Location: <%= @qr.location %>
Content: <%= @qr.content %>
<% require 'rqrcode' %>
<div class='center'>

<%= raw RQRCode::QRCode.new(@qr.id.to_s).as_html %>
<br>
<%= @qr.location %>
</div>
