<% provide(:title, "Logs") %>
<% params[:page_size] ||= '10' %>
<% params[:page] ||= '1' %>
<% params[:order] ||= 'created_at'%>
<% params[:direction] ||= 'DESC' %>

             <!-- page start-->
             <div class="row">
                 
     <header class="panel-heading"><h3>Logs</h3></header>
     
                     <section class="panel">
                         <table class="table table-striped">
                           
                             <thead>
                             <tr>
                                 <th>Property</th>
                                 <th>Location</th>
                                 <th>Content</th>
                                 <th>Employee</th>
                                 <th>Time</th>
                             </tr>
                             </thead>
                             <tbody>
                               <% @logs = Log.limit(params[:page_size].to_i)
          .offset(params[:page_size].to_i * (params[:page].to_i - 1))
          .order("#{params[:order]} #{params[:direction]}")
          .all %>
          <% if @property %>
            <% @logs = @logs.where(property_id: @property.id) %>
          <% end %>
          <% @logs.each do |l| %>
          <% qr = QrCode.find_by(id: l.qr_code_id) %>
          <% employee = Employee.find_by(id: l.employee_id) %>
          <% property = Property.find_by(id: l.property_id) %>
                             <tr>
       <td>
         <%= property.name %>
       </td>
       <td>
         <%= qr.location %>
       </td>
       <td>
         <%= qr.content %>
       </td>
       <td>
         <%= employee.name %>
       </td>
       <td>
         <%= l.created_at %>
       </td>

                             </tr>
                             <% end %>
                             </tbody>
                                 
                         </table>
                     </section>
                 </div>
             </div>
