<!DOCTYPE html>
<html>
  <head>
      <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true,
                                           :debug => false%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true,
                                            :debug => false%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
   
         <section id="main-content">
          <section class="wrapper">            
              <!--overview start-->
			      <%= yield %>
		</section>
		</section>
			

            <!--/row-->

      <%= render "layouts/footer" %>
  </body>
</html>
